# Replace with your DB credentials!
DATABASE_URL="libsql://db-name-user.turso.io"
DATABASE_AUTH_TOKEN=""
# A local DB can also be used in dev as well
# DATABASE_URL="file:local.db"

# SendGrid
SENDGRID_API_KEY=""
SENDGRID_FROM_EMAIL="noreply@trialkings.com"
ADMIN_EMAIL="admin@trialkings.com"

# Stripe
STRIPE_SECRET_KEY=""
STRIPE_WEBHOOK_SECRET=""

# App URL (for magic links)
PUBLIC_APP_URL="http://localhost:5173"
