# Replace with your DB credentials!
DATABASE_URL="libsql://benkingv1-austinsan.aws-us-east-1.turso.io"
DATABASE_AUTH_TOKEN="eyJhbGciOiJFZERTQSIsInR5cCI6IkpXVCJ9.eyJhIjoicnciLCJpYXQiOjE3Njg0OTA1NzQsImlkIjoiYjhmNzE5YzgtMjQwZC00ZDNhLTkyMTgtM2M3MmNmZTg3NWVjIiwicmlkIjoiYzY4OTY1MGItZmRjMy00ZTZkLWEwMWMtNmUxMjg5YWE0NzE5In0.8fOKFflDEwppBty9352AxLhxQ87KyBa-KueBCoktMHXo3n9qxjeXtM_aoC4JjGv-sIpeFSF9haEbtwkfoJLLBQ"
# A local DB can also be used in dev as well
# DATABASE_URL="file:local.db"
